:root{
  font-size: 15px;
}

body {
  height: 100vh;
  width: 100vw;
  margin: 0;  
}

div.navbar>img {
  height: 50px;
  width: 50px;
  margin: auto 10px auto 10px;
  border-radius: 50%;
  border: 1px gray solid;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;    
  height: 80px;
  width: 100%;
  margin: auto;  
}

.navbar>p {
  color: #f5f8ff;
  font-size: 1.7rem;
  font-weight: bold;
  letter-spacing: 2px;
  font-family: sans-serif;
  margin: auto 0 auto 0;
}

.drpCard  {
  display: flex;  
  flex-direction: row;
  justify-content: center;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: auto;
  padding: 5px;
  box-shadow: 3px 3px 5px 6px #ccc;
  color: white;
  background-color: deepskyblue;
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  text-align: center;
  padding-top: 2px;
  letter-spacing: 2px;  
  cursor: pointer;
  max-width: 600px;
}

.dspTxt  {
  display: inline-block;
  margin: 0 10px 0 0;
  letter-spacing: 3px;
  font-family: sans-serif;
}

.drpImg {
  height: 200px;
  width: 200px;
  border-radius: 10px;
}

.thumbImg {
  height: 20px;
  width: 20px;
  border-radius: 10%;
  margin: 0 auto 0 auto;  
  display: inline-block;
}

.infoCard>p {
  text-decoration: none;
  display: inline;
}

.infoCard>label {
  text-decoration: none;
  display: inline;
}

.infoCard {
  height: auto;
  width: 70%;
  max-width: 400px;
  border: 1px #8867ab solid;
  border-radius: 50px;
  margin: 0 auto 20px auto;
  padding: 15px;
  box-shadow: 3px 3px 5px 6px #ccc;  
}
table {
  border-top: 1px #a453f5 solid;
}

th, td {
  padding: 5px;
  text-align: left;  
}

table {
  margin-top: 10px;
}

tr:nth-child(even)  {
  background-color: #e9d7fc;
}

.lstItem {  
  display: inline-block;
  margin: 0px;
  border: 1px #e9d7fc solid;
  border-radius: 10px;
  width: 30px;
  height: 30px;
  text-align: center;
  font-size: 1.3rem;
  color: gray;
  padding-top: 1px;
  cursor: pointer;
  user-select: none;
}

.lstItem:hover {
  background: #a683c9;
  color: white;
}

.lstItem:nth-child(2) {
  background-color: #d5bdec;
  color: white;
}

.lst {
  padding: 5px;
  width: fit-content;
  margin: auto;
}

footer {
  position: fixed;
  z-index: 1;
  bottom: 0;
  background: #fff;
  width: 100vw;
  opacity: 0.9;
  height: 50px;    
}

.glyphicon {
  margin: auto;
}

.topnav>input  {
  height: 30px;
  margin: auto;
  right: 0px;  
  border: none;
  padding: 5px;
  display: block;  
  width: 90vw;
  border-bottom: 1px #a453f5 solid;
  border-radius: 10px;

}

.topnav>input:focus  {
  outline: none;
}

.topnav {
  position: fixed;  
  background-color: #a453f5;
  width: 100vw;
}